<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Feed</title>

    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
</head>
<body>
    <h1>{{ message }}</h1>
    <button onclick="fetchPosts()">Refresh Feed</button>

    <div class="new-post">
        <h3>Create a New Post</h3>
        <form action="/posts" method="POST">
            <textarea name="content" id="new-post-content" placeholder="What's on your mind?" required></textarea>
            <input type="hidden" name="authorId" value=1> 
            <button type="submit">Post</button>
        </form>
    </div>

    <div id="post-feed">
        {{#each posts}}
            {{> post this}}
        {{/each}}
    </div>
</body>
</html>
